version: '3.8'

services:
  postgresql:
    image: postgres:15
    container_name: postgresql
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ../data/postgresql:/var/lib/postgresql/data
    networks:
        - backend
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5050:80"
    volumes:
      - ../data/pgadmin:/var/lib/pgadmin
    networks:
        - backend
    depends_on:
      - postgresql
  php:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: php-development:8.2
    container_name: php-backend
    restart: unless-stopped
    ports:
      - "8020:80"
    env_file:
      .env
    volumes:
      - ../src:/var/www/html
    depends_on:
      - postgresql
    networks:
        - backend
networks:
    backend:
        driver: bridge